.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 2fr));
}
/* header */
.header {
  grid-column: 1 / span 6;
 
  text-align: center;
}
#switch {
  text-shadow: 3px 3px 3px gray;
  color: crimson;
  font-size: 50px;
  cursor: pointer;
}
/* canvas  */
.canvas-sect {
  grid-column: 1 / span 1;
}
#canvas {
  cursor: crosshair;
  border: 3px solid white;
  box-shadow: 5px 5px 50px gray;
  border-radius: 20px;
}
/* side bar */
.sidebar {
    margin: 20px 20px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 5px 5px 50px gray;
    overflow: hidden;
    padding: 2px 1px;
    border-radius: 20px;
  grid-column-start: 2;
  grid-column-end: 7;
}
/* input color css */
#color{
    width: 50%;
    margin: 10px 10px;
}
.Colorboard {
    box-shadow: 5px 5px 50px gray;
    border-radius: 20px;
  }
  .colorBlock {
    height: 20px;
    width: 5%;
    float: left;
  cursor: pointer;
  }
.btn{
 color: crimson;
  outline: none;
  border-radius: 20px;
  border: 0 solid white;
  background-color: rgb(253, 168, 137);
  color: black;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgb(243, 231, 231);
  padding: 6px 10px;
  margin: 10px 10px;
}
/* brush css */
.brush {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 5px 5px 50px gray;
    overflow: hidden;
    padding: 2px 1px;
    border-radius: 20px;
}
.brush > i {
  text-shadow: 3px 3px 10px rgba(128, 128, 128, 0.719);
  cursor: pointer;
  color: rgb(233, 130, 61);
  font-weight: bolder;
  float: left;
  padding: 5px 5px;
  margin: 2px 2px;
}

/* shape */
.shape {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 5px 5px 50px gray;
    border-radius: 20px;
    padding: 5px 5px;
    cursor: pointer;
    text-shadow: 2px 2px 1px rgb(231, 192, 192);
  }

  .icons {
    font-size: 40px;
    color: crimson;
    font-weight: bolder;
    margin: 5px 10px;
  }
  /* pen weight */
  .pen-weight {
    margin-top: 1%;
    box-shadow: 5px 5px 50px gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    padding: 20px 2px;
  }
  .pen-weight > i {
    text-shadow: 3px 3px 10px rgb(93, 211, 93);
    font-weight: bolder;
    color: darkgoldenrod;
    padding: 5px 6px;
    cursor: pointer;
  }
  .eraser {
      margin-top: 1%;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    color: cornflowerblue;
    box-shadow: 5px 5px 50px gray;
    border-radius: 20px;
    padding: 10px 10px;
    cursor: pointer;
    text-shadow: 2px 2px 1px gray;
  }
  .clearAll{
    margin-top: 1%;
    box-shadow: 5px 5px 50px gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    padding: 20px 2px;
  }
  .clearAll > button {
    padding: 6px 80px;
    border-radius: 20px;
    outline: none;
    border: 0 solid white;
    background-color: coral;
    color: black;
    cursor: pointer;
    box-shadow: 1px 1px 5px red;
  }
 
  /* footer */
  .footer{
      text-align: center;
  grid-column: 1 / span 6;
  }
  .remark {
    color: gray;
    font-weight: bolder;
  }
  .note {
    margin-left: 40%;
    box-shadow: 5px 5px 50px gray;
    padding: 10px 10px;
    border-radius: 20px;
    width: 40%;
    text-align: center;
    color: cornflowerblue;
    display: none;
  }

 